* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma;
    font-size: 14px;
}

/**Nav**/

nav{    
    background: #777;
    padding: 5px;
}
nav ul,nav .logo{
    display: inline-block;
}
nav ul{
    float: left;
    list-style: none;
}
nav ul li{
    float: right;
    padding: 12px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/**Nav**/
.mydiv {
    padding: 10px;
    text-align: center
}

h1 {
    padding-left: 10px;
}

.box {
    width: 310px;
    float: right;
    margin: 7px;
    border: 2px solid #eee;
    font-weight: bold;
}

.box p {
    margin: 10px;
}

.box img {
    max-width: 80%;    
    max-height: 100px;
}

.box a {
    text-decoration: none;
    background: #0784bd;
    color: #fff;
    display: block;
    padding: 8px;
}

footer{
    background: #777;    
    clear: both;
    padding: 20px;
    text-align: center;
    color: #fff;
}
